{{ define "admin.appointments.layout" }}
    {{ template "admin.header" . }}
    {{ template "admin.appointments.content" . }}
    {{ template "admin.footer" .}}
{{ end }}


{{ define "admin.appointments.content"}}

    <!-- Sidebar Navigation end-->
    <div class="page-content">
        <div class="no-padding-bottom" style="height: 800px; overflow-y: auto;">
            <div class="container-fluid">
                <br/>
                <div class="row">
                    {{ range . }}
                        <div class="col-lg-6">
                            <div class="checklist-block block">
                                <div class="messages-block">
                                    <div class="row">

                                        <div class="messages col-lg-2">
                                                <div class="profile"><img src="../assets/img/avatar-0.jpg" alt="..."
                                                                          class="img-fluid">
                                                </div>
                                                <div class="content"><strong class="d-block"
                                                                             style="font-size: 14px; font-weight: 600; padding-top: 8px;">{{ .User.FullName }}</strong>
                                                </div>
                                        </div>
                                        <div class="messages col-lg-10">
                                            <a href="#" class="message align-items-center">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <span style="color: rgb(247, 187, 123);">Date:<span
                                                                    style="color: rgb(247, 187, 123);">{{ .AppointmentTime }}</span></span>

                                                    </div>

                                                </div>
                                                <br/>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>

            </section>

    </div>

{{end}}