{{ define "admin.basic.layout" }}
    {{ template "admin.header" . }}
    {{ template "admin.basic.content" . }}
    {{ template "admin.footer" .}}
{{ end }}

{{ define "admin.basic.content"}}

        <!------------------------------------------MODAL FOR EDITING---------------------------------------------->
        <!-- Sidebar Navigation end-->
        <div class="page-content">
            <section class="no-padding-bottom" style="height: 1000px; overflow-y: auto;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact_info">
                                <br/>
                                <span style="color: #F98E1D; font-weight: 700; font-size: 20px;margin-bottom: 8px;">Contact Info</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Name:</span> {{ .Name }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Phone No.:</span> +251{{ .Phone }}</span><br/>
{{/*                                <span><span style="color: rgb(247, 187, 123);">Email:</span> {{ .Email }}</span><br/>*/}}
                                <span><span style="color: rgb(247, 187, 123);">City:</span> {{ .City }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Address:</span> {{ .Address }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Website:</span> {{ .Website }}</span><br/>
                            </div><br/>
                            <div class="location">
                                <span style="color: #F98E1D; font-weight: 700; font-size: 20px;margin-bottom: 8px;">Location</span><br/>
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="480" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q={{.Lat}},{{.Long}}&hl=en&z=14&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 350px;
                                            width: 480px;
                                        }
                                        
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none!important;
                                            height: 350px;
                                            width: 480px;
                                        }
                                    </style>
                                </div>
                            </div><br/>
                            <div class="open_hours">
                                <span style="color: #F98E1D; font-weight: 700; font-size: 20px;margin-bottom: 8px;">Open Hours</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Mon:</span>{{ .hours_mon }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Tue.:</span style="color:rgb(247, 187, 123);">{{ .hours_mon }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Wed:</span style="color:rgb(247, 187, 123);">{{ .hours_mon }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Thu:</span style="color:rgb(247, 187, 123);">{{ .hours_mon }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Fri:</span style="color: rgb(247, 187, 123);">{{ .hours_mon }}</span><br/>
                                <span><span style="color: rgb(247, 187, 123);">Sat:</span style="color: rgb(247, 187, 123);">{{ .hours_mon }}</span><br/>
                            </div><br/>
{{/*                            <div class="extra_perks">*/}}
{{/*                                <span style="color: #F98E1D; font-weight: 700; font-size: 20px;margin-bottom: 8px;">Extra Perks</span><br/>*/}}
{{/*                            </div>*/}}
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex flex-row-reverse">
                                <a class="title" href="/basicInfoEdit"><strong style="font-size: 20px; color: rgb(221, 218, 218); font-weight: 600;"><i class="fa fa-edit" style="margin-left: 5px;"></i>Edit this Page</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

{{end}}