{{define "login.layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Login page</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/signup.css">
    <script src="assets/js/script.js"></script>

</head>

<body>

    <div class="container">


        <div class="signup-form">
            <form action="#" method="post">
                <h2>Log In</h2>
                <p class="lead">x-cut.</p>
                {{if .CSRF}}
                    <input type="hidden" name="_csrf" value="{{ .CSRF }}"/>
                {{else}}
                    <input type="hidden" name="_csrf" value="{{.Values.Get "_csrf"}}"/>
                {{end}}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-paper-plane icon_border"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email Address" required="required"><br/> <br/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock icon_border"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required"><br/><br/>
                    </div>
                </div>
                <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Log In" type="submit"><br/><br/>
                    <span>
                        {{with .VErrors.Get "generic" }}
                    <label class="text-danger">{{ . }}</label> {{end}}
                    </span>
                </div>
                <span><span style="color: rgb(156, 156, 156);">New to x-cut?</span> <a class="newxCut" href="/signup">
                        open your shop now</a>
                </span>
            </form>

        </div>
    </div>
</body>

</html>


{{end}}