{{ define "signup.layout"}}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <title>Signup page</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet"
              href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="assets/css/signup.css">


    </head>

    <body>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-7">
                <div class="signup-form" class="swipe">
                    <form action="/signup" method="POST">
                        <h2>Create Account</h2>
                        {{if .CSRF}}
                            <input type="hidden" name="_csrf" value="{{ .CSRF }}"/>
                        {{else}}
                            <input type="hidden" name="_csrf" value="{{.Values.Get "_csrf"}}"/>
                        {{end}}
                        <p class="lead ">x-cut</p>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone icon_border"></i></span>
                                <input type="text" class="form-control " name="phone" placeholder="Phone Number"
                                       required="required " size="10" value='{{ .Values.Get "phone" }}'/>
                                <br/>

                            </div>
                            <span>
                                    {{with .VErrors.Get "phone" }}
                                        <label class="text-danger">{{ . }}</label>
                                    {{end}}
                                </span>
                        </div>

                        <div class="form-group ">
                            <div class="input-group ">
                                <span class="input-group-addon "><i class="fa fa-paper-plane icon_border"></i></span>
                                <input type="email" class="form-control " name="email" placeholder="Email Address "
                                       required="required " value='{{ .Values.Get "email" }}'><br/>

                            </div>
                            <span>

                                    {{with .VErrors.Get "email" }}
                                        <label class="text-danger">{{ . }}</label>
                                    {{end}}
                                </span>
                        </div>


                        <div class="form-group ">
                            <div class="input-group ">
                                <span class="input-group-addon "><i class="fa fa-lock icon_border"></i></span>
                                <input type="text" class="form-control " name="fullname" placeholder="Full Name"
                                       required="required" value='{{ .Values.Get "fullname" }}'><br/>

                            </div>
                            <span>
                                    {{with .VErrors.Get "fullname" }}
                                        <label class="text-danger">{{ . }}</label>
                                    {{end}}
                                </span>
                        </div>

                        <div class="form-group ">
                            <div class="input-group ">
                                <span class="input-group-addon "><i class="fa fa-lock icon_border"></i></span>
                                <input type="password" class="form-control " name="password" placeholder="Password"
                                       required="required"><br/>

                            </div>
                            <span>
                                    {{with .VErrors.Get "password" }}
                                        <label class="text-danger">{{ . }}</label>
                                    {{end}}
                                </span>
                        </div>
                        <div class="form-group ">
                            <div class="input-group ">
                                <span class="input-group-addon">
                                        <i class="fa fa-lock icon_border"></i>
                                    </span>
                                <input type="password" class="form-control " name="confirmPassword"
                                       placeholder="Confirm Password " required="required"><br/>

                            </div>
                            <span>
                                    {{with .VErrors.Get "confirmPassword" }}
                                        <label class="text-danger">{{ . }}</label>
                                    {{end}}
                                </span>
                        </div>
                        <p style="color: white;">Sign Up as:</p>
                        <div class="form-group ">
                            <div style="color: white;" class="input-group" class="align-content-sm-around">

                                <label class="radio-inline"><input type="radio" name="type" value="customer"
                                                                   checked="checked">&nbsp;&nbsp;Customer&nbsp;&nbsp;&nbsp;</label>
                                <label class="radio-inline"><input type="radio" name="type" value="barbershop">&nbsp;&nbsp;BarberShop</label>


                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                        <br>

                        <div class="text-center ">Already on x-cut? <a href="/login">Login here</a>.</div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    </body>

    </html>

{{ end }}