{{ define "user.appointment.layout" }}
    {{ template "user.header" . }}
    {{ template "appotment.content" . }}
    {{ template "user.footer" .}}
{{ end }}


{{ define "appotment.content"}}


    <div class="page-content">
        <section class="no-padding-bottom" style="height: 700px; overflow-y: auto;">
            <div class="container-fluid">
                <form action="#" id="service-form" method="post">
                    <h2>Make an Appointment</h2>
                    <input type="hidden" name="_csrf" value="{{ .CSRF }}"/>
                    <input type="hidden" name="shopID" value="{{ .Shop.ID }}"/>

                    <span style="color: rgb(247, 187, 123);">Service:</span><br/>
                    <div class="input-group">

                        <select name="selectOne">
                            <option value="">Select one</option>
                            {{range .Services}}
                                <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                        </select>

                    </div>
                    {{with .VErrors.Get "serviceType" }}
                        <label class="text-danger">{{ . }}</label>
                    {{end}}


                    <span style="color: rgb(247, 187, 123);">Rating:</span><br/>
                    <div class="input-group">

                        <input type="datetime-local" class="form-control " name="mydate"
                               required="required "/>

                    </div>
                    {{with .VErrors.Get "mydate" }}
                        <label class="text-danger">{{ . }}</label>
                    {{end}}
                    <br>
                    <input name="a" class="btn btn-lg btn-primary btn-block" type="submit"><br/><br/>


                </form>
            </div>

        </section>
    </div>


{{end}}