{{ define "user.review.layout" }}
    {{ template "user.header" . }}
    {{ template "review.content" . }}
    {{ template "user.footer" .}}
{{ end }}


{{ define "review.content"}}


    <div class="page-content">
        <section class="no-padding-bottom" style="height: 700px; overflow-y: auto;">
            <div class="container-fluid">
                <form action="#" id="service-form" method="post">
                    <h2>Write a Reply</h2>
                    <input type="hidden" name="_csrf" value="{{ .CSRF }}"/>
                    <input type="hidden" name="shopID" value="{{ .Shop.ID }}"/>

                        <span style="color: rgb(247, 187, 123);">Review:</span><br/>
                        <div class="input-group">

                            <input type="text" class="form-control " name="review_text" placeholder="Review ..."
                                   required="required " value='{{ .Values.Get "review_text" }}'/>

                        </div>
                        {{with .VErrors.Get "review_text" }}
                            <label class="text-danger">{{ . }}</label>
                        {{end}}


                        <span style="color: rgb(247, 187, 123);">Rating:</span><br/>
                        <div class="input-group">

                            <input type="number"  max="10" class="form-control " name="rating"
                                   required="required " value='{{ .Values.Get "rating" }}'/>

                        </div>
                        {{with .VErrors.Get "rating" }}
                            <label class="text-danger">{{ . }}</label>
                        {{end}}
<br>
                    <input name="a" class="btn btn-lg btn-primary btn-block"  type="submit"><br/><br/>


                </form>
            </div>

        </section>
    </div>


{{end}}